extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        //- Use the info in your data file and the comments below to complete this template

        //- Use interpolation to dynamically add the project title
        h1= project_name

        //- Use interpolation to dynamically add the project description
        p= description

      .project-tech-links-box.box
        h6 Technologies
        ul

          //- Use an `each` iterator and interpolation to dynamically replace the li tags below with the technologies listed for this project
          each tech in technologies
            li= tech

        //- Add the href values to the links below
        a.btn-link(href=`${live_link}`, target="_blank", rel="noopener noreferrer") Live Demo
        a.btn-link(href=`${github_link}`, target="_blank", rel="noopener noreferrer") GitHub Repo

    .project-img-box.box
      each img in image_urls.slice(1)
        img.project-img(src=`/static/images/${img}`, alt='Project Preview')

    nav.nav
      a(href='/')
        span &larr;
        |  Back
